{% extends 'base.html' %}

{% block index %}

{% load static %}
{% load widget_tweaks %}
    <div class="home">
        <p><span class="tab">Phytoprom is an enrichment analysis tool for candidate cis-regulatory 
        elements (CCREs). It is based on plant gene promoters available on Phytozome database. 
        Phytoprom is a user-friendly web application, providing a way to characterize large-scale
        gene promoter datasets. The tool also makes it possible to download sets of 
        species-specific promoters, transcripts and proteins under study for analysis in other 
        databases.</p>
    <p>For more information, see documentation section.</p>
    </div>
{% endblock %}

{% block container %}
    <div class="page-content">
        <div class="container">
            <div class="docs-overview">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 py-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title text-center mb-3">
                                    <span class="card-title-text">Graphical output</span>
                                </h5>
                                <div class="card-text">
                                    <img class="img-responsive" src="{% static 'img/graphic.png' %}">
                                    <ul>
                                        <li>
                                            Visual output for rapid “at a glance” insight of enriched CCREs distribution in the scrutinized sample;
                                        </li>
                                        <li>
                                            Online chart creation in .pdf format for data publication on scientific journals.
                                        </li>
                                    </ul>
                                </div>
                            </div><!--//card-body-->
                        </div><!--//card-->
                    </div><!--//col-->
                    <div class="col-12 col-lg-6 py-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title text-center mb-3">
                                    <span class="card-title-text">Tabular output</span>
                                </h5>
                                <div class="card-text">
                                    <img class="img-responsive" src="{% static 'img/tabular.png' %}">
                                    <ul>
                                        <li>
                                            The tabular output contains detailed information of the CCREs (enriched or not) analyzed;
                                        </li>
                                        <li>
                                            The table shows the found motifs, associated transcription factor (TF) and statistical data;
                                        </li>
                                        <li>
                                            Also presents links to the scientific manuscripts with information about the role of the associated TF on plants under stress conditions.
                                        </li>
                                    </ul>
                                </div>
                            </div><!--//card-body-->
                        </div><!--//card-->
                    </div><!--//col-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}