{% extends 'base.html' %}

{% block index %}
    <div class="text-center">
        <h4 style="color:#fff"> {{ title }} </h4>
    </div>
{% endblock %}

{% block container %}

{% load static %}
{% load widget_tweaks %}

<div class="row py-5">
    {% if not success %}
    <div class="middle"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form role="form" class="form-horizontal" action="" method="post">
            <fieldset>
                {% csrf_token %}
                <div class="form-group" >
                    {% for field in form %}
                        <div class="form-group {% if field.errors %} has-errors {% endif %}">
                          <label for="{{field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
                          <div class="col-md-9">
                            {% render_field field class='form-control' %}
                            {% for error in field.errors %}
                                <span class="help-block">{{error}}</span>
                            {% endfor %}
                          </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <br/>
                    <button type="submit" class="btn btn-primary">Run</button>
                    <button id="autofill" class="btn btn-primary" type="button" 
                        data-locus="{{ sample_locus }}" data-size="{{ sample_size }}">
                        Fill with sample
                    </button>
                  </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-3"></div>
    {% else %}
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <a id="promotersId" class="btn btn-primary" 
                download="Promoters.fasta" type="text/csv" >Download FASTA
            </a>
            <br/>
            <br/>
            <span class="promoters">{{promoters | linebreaks}}</span>
        </div>
        <div class="col-lg-3"></div>
    {%endif%}
</div>

<script type="text/javascript">
    const buttons = document.querySelectorAll("button");
    const locusField = document.getElementById("id_promoter");
    const sizeField = document.getElementById("id_size");

    button = document.getElementById("autofill");
    button.addEventListener("click", () => {
        locusField.value = button.dataset.locus;
        sizeField.value = button.dataset.size;
    });
</script>

<script type="text/javascript">
    var csv = '{{ promoters |escapejs }}';
    var data = new Blob([csv]);
    var a2 = document.getElementById("promotersId");
    a2.href = URL.createObjectURL(data);
</script>

{% endblock %}